
.lexend-giga{
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body{
    background-color: dimgrey;
}

p{
    color: white;
    font-size: 30px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Lexend Giga", sans-serif;
}